/* COMBAK: CSS FEITO POR LUCAS ALVES :D */


@font-face {
    font-family: BebasNeue;
    src: url('../assets/fonts/BebasNeue-Regular.otf');
    src: local(BebasNeue-Regular.otf), url(BebasNeue-Regular.otf);
}

/* WARNING: NÃO MEXER NA FONTE FACE */
* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    background: #e0e0e0;
    /* background: -webkit-linear-gradient(to right, #2B32B2, #1488CC); */
    /* background: linear-gradient(to right, #2B32B2, #1488CC); */
    font: 25px BebasNeue, Arial, Tahoma, Sans-serif;
}

a {
    text-decoration: none;
    color: #e0e0e0;
}

.h1-title {
    font: 25px BebasNeue, Arial, Tahoma, Sans-serif;
    /* COMBAK: comando para importar a fonte */
    text-align: center;
    color: white;
    letter-spacing: .2rem;
    /* COMBAK: Espaçamento entre as letras */
}

.h2-title {
    font: 25px BebasNeue, Arial, Tahoma, Sans-serif;
    /* COMBAK: comando para importar a fonte */
    text-align: center;
    color: white;
    margin-top: 120px;
    letter-spacing: .2rem;
}

.header {
    display: flex;
    height: 50px;
    background-color: #002969;
    margin: 0 0 20px 0;
    justify-content: space-between;
}

.header a {
    display: flex;
    align-self: center;
}

.unifor-logo {
    height: 40px;
    margin-left: 3vw;
    align-self: center;
    cursor: pointer;
}

.unifor-online {
    margin-right: 3vw;
}

.form-button {
    margin-right: 4vw;
}

.container-table-phone {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    margin-top: 50px;

}

.container-table-phone-box {
    display: flex;
    justify-content: center;
}

.table-phone {
    /* COMBAK: modificado para ficar uma tabela maior */
    width: 96%;
    /* COMBAK: tamanho da table */
    table-layout: fixed;
    text-align: center;
    color: white;
    letter-spacing: .1rem;
}

.table-phone {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

.table-phone,
th,
td {
    /* COMBAK: muda a tabela junto com o texto */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-collapse: collapse;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.list-place  ul {
    position: absolute;
    /* COMBAK: deixa do lado esquerdo, relative centraliza */
    width: 450px;
    /* margin: 90px auto 0; */
    padding: 10px;
    box-sizing: border-box;
    background: #002969;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid black;
    border-radius: 12px;
}

.list-place {
    margin-left: 5em;
}

.list-place ul li {
    display: flex;
    background: rgba(255, 255, 255, .1);
    padding: 10px 20px;
    color: white;
    margin: 5px 0;
    transition: .8s;
    border-radius: 5px;
}

.list-place ul li:nth-child(1) {
    /* COMBAK: esbrenqueçe as caixa de texto span da lista de itens */
    background: rgba(255, 255, 255, .6);
}

.list-place ul li:nth-child(2) {
    background: rgba(255, 255, 255, .4);
}

.list-place ul li:nth-child(3) {
    background: rgba(255, 255, 255, .2);
}

.list-place ul li span:nth-child(1) {
    /* COMBAK: separa os caracteres do span o primeiro caractere no caso */
    width: 30px;
}


.list-place ul li:hover {
    /* COMBAK: quando passar o mouse por cima */

    transform: scale(1.06);
    /* COMBAK: tamanho da escala que vai aumentar quando passar o mouse por cima */
    background: #1488CC;
    /* COMBAK: quando passar o mouse por cima ira ficar da cor em hexadeimal descrita */
}

th {
    background-color: rgb(131, 131, 131);
}

tr:nth-child(even) {
    background-color: rgb(2, 74, 116);
}



/*.container-table-place {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    color: white;
}
*/


td {
    width: 8vw;
    height: 2vw;
}

#Descricao-campus {
    text-align: center;
    color: white;
    margin: 15px 0 200px 0 ;

}



.slidershow {
    width: 700px;
    height: 400px;
    overflow: hidden;
    box-shadow: -1px 2px 11px 0px black;
    /* COMBAK: sobrepondo as imagens */
}

.middle {
    /* position: absolute; */
    /* COMBAK: posição absoluta, mantem lado esquerdo */
    /* COMBAK: quanto maior, ele vai para baixo */
    /* COMBAK: mais longe da esquerda  */
    /*transform: translate(-50%,-50%);*/
    margin: 0 0 0 40em;
    border-radius: 12px;
}


.navigation {
    /* COMBAK: navegação entre as imagens */
    position: relative;
    bottom: 30px;
    left: 50%;
    /* transform: translateX(-50%); */
    display: flex;
    /* COMBAK:para dividir em grid com as outras imagens  */
}


.bar {
    /* COMBAK: barra de navegação */
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    /* COMBAK: quando passar o mouse em cima vira um clicavel */
    transition: 0.4s;
    /* COMBAK: transição para a mudança de cor */
}


.bar:hover {
    /* COMBAK: quando o curso ficar em cima, irá ficar branco */
    background: #ffff;
}

input[ name="r"] {
    /* COMBAK: oculta as boxes(radios) checked */
    position: absolute;
    visibility: hidden;
}


.slides {
    /* COMBAK: div slides */
    width: 500%;
    height: 100%;
    display: flex;
}


.slide {
    width: 20%;
    transition: 0.6s;
    /* COMBAK: transição para cada imagem composta na div */
}


.slide img {
    width: 100%;
    /* COMBAK: ajustando largura da imagem para ficar na box */
    height: 100%;
    /* COMBAK: ajustando altura da imagem para ficar na box */
}


#r1:checked~.s1 {
    /* COMBAK: tem que começar checado para poder passa para o proximo check */
    margin-left: 0;

}

#r2:checked~.s1 {
    /* COMBAK: tem que começar checado para poder passa para o proximo check */
    margin-left: -20%;
    /* COMBAK: vai da direita pra esquerda dessa porcentagem pro segundo. pois as imagens estão indo para os lados */

}

#r3:checked~.s1 {
    margin-left: -40%;

}

#r4:checked~.s1 {
    margin-left: -60%;

}

#r5:checked~.s1 {
    margin-left: -80%;

}

.footer-container {
    margin-top: 50px;
    display: block;
    height: 100px;
    color: white;
    background-color: #002969;
    left: 0;
    bottom: 0;
    padding: 2em 1em;
}

.social-box {
    width: 25%;
    height: 100%;
    float: left;
}

.social-title {
    font-size: 16px;
    margin: 0 0 10px 0;
}

.social-icon {
    vertical-align: text-top;
    height: 25px;
    width: 25px;
    display: inline-block;
    padding: 15px;
}

.social-icon:hover {
    padding: 13px;
    height: 30px;
    width: 30px;
    transition-duration: 0.2s;
}

.info-comunicate {
    width: 50%;
    height: 100%;
    float: left;
}

.list-item-footer {
    display: inline-block;
}

.list-item-footer a:hover {
    color: #baba;
    transition-duration: 0.1s;

}

.bar-separator::after {
    content: "|";
    display: inline-block;
    
}

.comunicate-list {
    margin-bottom: 1em;
}

.info-comunicate .info {
    text-align: center;
    font-size: 14px;
}

.unifor-footer {
    width: 25%;
    height: 100%;
    text-align: center;
    float: left;
}

.unifor-logo-footer {
    height: 80px;
    align-self: center;
    cursor: pointer;
}
